/* ~~~~~~~~~~~~~~~ color palette ~~~~~~~~~~~~~~~ */

:root {
    --bg-color-1: #a5b5b0;
    --bg-color-2: #ecd7e7;
    --font: #000000;
    --accent-1: #b2d7c8;
    --accent-2: #7d517d;
    --dark: #1c4333;
}







/* ~~~~~~~~~~~~~~~ CSS resets ~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}


/* ~~~~~~~~~~~~~~~General CSS ~~~~~~~~~~~~~~~ */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    color: var(--font);
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 2.5;
    font-weight: 450;
    font-size: 1.25rem;
    text-align: justify;
}

@media (max-width: 700px) {
    body {
        font-size: 1.3rem;
    }
}

header {
    padding: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--dark);
    color: var(--accent-1);
    border-bottom: #0d1f17 1px solid;
}

@media (max-width: 700px) {
    header {
        padding-left: 2rem;
    }
}

header h1 {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--accent-1);
    font-family: "Audiowide", sans-serif;}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--accent-1);
    display: inline-block;
    margin: 0 1rem;
    transition: all .5s ease;
    font-family: "Audiowide", sans-serif;

}

nav a:hover {
    background-color: #0d1f17;
    /* transform: scale(1.3); */
}

@media (max-width: 750px) {
    nav a {
        margin: 0 .5rem;
    }
}

main {
    margin: 0;
}

@media (max-width: 850px) {
    main {
        margin: 2rem;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1rem;
    }
}


.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
    
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem 0;
    
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
    font-family: "Audiowide", sans-serif;
    font-size: 2rem;

}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--bg-color-2);
    padding: 4rem;
    border: 2px var(--accent-2) solid;
    border-radius: .5rem;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3)
}

@media (max-width: 800px) {
    .portfolio-item {
        padding: 3rem;
    }
}

@media (max-width: 650px) {
    .portfolio-item {
        padding: 2rem;
    }
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
    font-family: "Audiowide", sans-serif;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.about-section {
    /* background-color: #a6c1b6; */
}

.portfolio-section {
    background-color: var(--bg-color-1);
}

footer {
    background-color: var(--dark);
    color: var(--accent-1);
    padding: 1rem;
    text-align: end;
}

footer p {
    font-size: 1.2rem;
}



/* style classes */

.accent-1 {
    color: var(--font);
}